<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/create_blog.css">
</head>
<body>
    <div class="container">
        <h1>Create Blog</h1>
        <form action="/create_blog" method="post" enctype="multipart/form-data">
            <div class="half left cf">
                <input type="text" id="blog_title" name="title" placeholder="Title" required>
                <input type="file" id="blog_image" name="image" placeholder="Upload Image">
            </div>
            <div class="half right cf">
                <textarea name="content" id="blog_content" placeholder="Blog Content"></textarea>
            </div>  
            <button type="submit" value="Submit" >Publish</button>
        </form>
    </div>
</body>
</html>
